.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
    font-size: medium;
    max-width: 800px;
}

@media only screen and (min-width: 640px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
      font-size: large;
    }
  }

.tile {
    background-color: lightblue;
    color: rgb(34, 34, 102);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selectable {
    cursor: pointer;
}

.selected {
    background-color: rgb(65, 55, 127);
    color: lightblue;
}

.selectable:hover {
    opacity: 90%;
}



.solved:hover {
    opacity: 100%;
    cursor: default;
}



.connections-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
    font-size: medium;
    max-width: 800px;
}

@media only screen and (min-width: 640px) {
    .connections-container {
      grid-template-columns: 1;
      font-size: large;
    }
  }

  .connections-tile {
    background-color: lightblue;
    color: darkslateblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.solved-1 {
    background-color: darkblue;
}
.solved-2 {
    background-color: green;
}
.solved-3 {
    background-color: maroon;
}
.solved-4 {
    background-color: teal;
}

.frozen {
    opacity: 50%;
    cursor: default;
    pointer-events: none;
}

.solved {
    cursor: default;
    color: white;
    opacity: 100%;
}